<html>
  <head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    
  </head>
  <body>
  <script type="text/javascript" src="{{ url_for('static', filename='arm.js') }}"></script>

  <table>
    <tr>
      <td>Claw</td>
      <td><input id="s0" type="range"  min="0" max="100" onchange="slider(0,this.value)"/></td>
      <td><input id="t0" class="val" type="number"/></td>
      <td><input id="tmin0" class="min" type="number"/></td>
      <td><input id="tmax0" class="max" type="number"/></td>
      <td><input id="target0" class="target" type="number"/></td>
    </tr>
    <tr>
      <td>Wrist</td>
      <td><input id="s1" type="range"  min="0" max="100" onchange="slider(1,this.value)"/></td>
      <td><input id="t1" class="val" type="number"/></td>
      <td><input id="tmin1" class="min" type="number"/></td>
      <td><input id="tmax1" class="max" type="number"/></td>
      <td><input id="target1" class="target" type="number"/></td>
    </tr>
    <tr>
      <td>Elbow</td>
      <td><input id="s2" type="range"  min="0" max="100" onchange="slider(2,this.value)"/></td>
      <td><input id="t2" class="val" type="number"/></td>
      <td><input id="tmin2" class="min" type="number"/></td>
      <td><input id="tmax2" class="max" type="number"/></td>
      <td><input id="target2" class="target" type="number"/></td>
    <tr>
      <td>Sholder</td>
      <td><input id="s3" type="range"  min="0" max="100" onchange="slider(3,this.value)"/></td>
      <td><input id="t3" class="val" type="number"/></td>
      <td><input id="tmin3" class="min" type="number"/></td>
      <td><input id="tmax3" class="max" type="number"/></td>
      <td><input id="target3" class="target" type="number"/></td>
    </tr>
    <tr>
      <td>Rotate</td>
      <td><input id="s4" type="range"  min="0" max="100" onchange="slider(4,this.value)"/></td>
      <td><input id="t4" class="val" type="number"/></td>
      <td><input id="tmin4" class="min" type="number"/></td>
      <td><input id="tmax4" class="max" type="number"/></td>
      <td><input id="target4" class="target" type="number"/></td>
    </tr>
  </table>


</ul>	
  </body>
  
</html>
