<html>
  <head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='robot.js') }}"></script>
  </head>

  <body>


  


  <img id="camera" src="/cam.jpg">
  <i class="fa fa-arrow-circle-up" onmousedown='call("forward")'></i>
  <i class="fa fa-arrow-circle-down" onmousedown='call("backward")'></i>
  <i class="fa fa-arrow-circle-left" onmousedown='call("left")'></i>
  <i class="fa fa-arrow-circle-right" onmousedown='call("right")'></i>
  </body>
</html>
